<div class="form-group">
  <input type="text" class="form-control big-input" value="<%= stage.inviteUrl() %>" />
</div>

<h4>Racers</h4>
<div class="list-group racers"></div>

<div class="form-group">
  <button class="start-race btn btn-success btn-lg">
    We're all here. Lets Race! <i class="fa fa-flag-checkered"></i> 
  </button>
</div>

<div class="online">
</div>
