<div class="form-group">
  <input type="text" class="form-control big-input" value="<%= stage.inviteUrl() %>" />
</div>

<h5>Racers</h5>
<div class="list-group racers"></div>

<div class="form-group">
  <button class="start-race btn btn-success pull-right btn-lg">We're all here. Lets Race!</button>
</div>
