<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div id="main" class="col-md-8">Loading...</div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<%= content_for :scripts do %>
<script>$(CodeRacer.initialize);</script>
<% end %>
