<div class="container">
  <div class="row">
    <div class="col-md-4 col-offset-md-4">
      <a href="/auth/github" class="btn btn-primary">
        <i class="fa fa-github"></i>
        Sign in with Github
      </a>
    </div>
  </div>
</div>
