<img src="<%= user.get('picture') %>" class="img-small img-circle">
<strong><%= user.escape("nickname") %></strong>
<small><%= user.escape("wpm") %></small>
<button class="invite btn btn-success btn-sm">
  Invite
  <i class="fa fa-plus-circle"></i>
</button>
