<div class="cars"></div>
<div class="timer"></div>
<div class="clearfix"></div>
<div class="panel">
  <div class="well content"></div>
  <input autofocus type="text" class="huge-input form-control">
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- wpmchallenge -->
<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9741096596846436" data-ad-slot="9528091656"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<div class="leaderboard"></div>
