<h4><%= track.escape("title") %></h4>
<div class="cars"></div>

<div class="timer"></div>

<div class="clearfix"></div>
<div class="panel">
  <div class="well content"><%= track.content() %></div>

  <input autofocus type="text" class="huge-input form-control">
</div>

<a href="#/">All Words Per Minute Challenges</a>
