<h2><%= track.escape("title") %></h2>
<span class="timer"></span>
<div class="panel">
  <p class="content"><%= track.content() %></p>

  <input autofocus type="text" class="form-control">
</div>

<a href="#/">All Tracks</a>
