<h2>WPM Challenges</h2>

<div class="list-group">
  <% tracks.each(function (t) { %>
    <a class="list-group-item" href="#track/<%= t.id %>"><%= t.escape("title") %>
      <%= t.topDog().escape('nickname') %>
      <span class="badge"><%= t.topDog().escape('wpm') %></span>
    </a>
  <% }); %>
</div>
