<h2>Words Per Minute Tests</h2>

<ul class="list-group">
  <% tracks.each(function (t) { %>
    <li class="list-group-item">
      <a href="#track/<%= t.id %>"><%= t.escape("title") %></a>
    </li>
  <% }); %>
</ul>
