<div class="backdrop"></div>
<div class="pop">
  <h2>Awesome! <%= wpm %> Words Per Minute!!</h2>
  <button class="btn btn-primary btn-facebook"><i class="fa fa-facebook"></i> | Share on Facebook</button>
</div>
