<div class="row">
  <div class="col-md-4">
    <h3>
      Seconds <span class="time label label-success"><%= time %></span>
    </h3>
  </div>
  <div class="col-md-4">
    <div class="loader">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <div class="col-md-4 timer-right">
    <h3 class="wpm">
      Get Ready!
    </h3>
  </div>
</div>
