<h1>Awesome job!</h1>

<p>
  You've taken the lead on <%= @entry.race.track.title %>! With <%= @entry.wpm %>!
</p>

<%= image_tag("excited.gif") %>

<%= link_to "Yo stop bugging me!", notification_url %>
