/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-social
 *= require_tree .
 *= require_self
 */

@import "compass/css3";
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Bootstrap body padding for fixed navbar
body { padding-top: 75px; }

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

.wrong {
  background-color: #E74C3C;
}

.backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
}

.pop {
  z-index: 10;
  padding: 20px;
  border-radius: 3px;
  position: fixed;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  text-align: center;
}

.btn-facebook {
  background-color: #1337BA;
  color: white;
}

.loader {
  height: 50px;
  left: 50%;
  margin: 20px 0 0 -75px;
  position: absolute;
  top: 50%;
  width: 150px;
  @include border-radius(100%);

  .bar {
    background-color: #00bff3;
    font-size: 0;
    height: 3px;
    opacity: 0;
    width: 25px;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: subtleIn;
    -webkit-animation-timing-function: ease-in-out;
    @include inline-block;

    &:nth-child(1) {
     -webkit-animation-delay: 0s;
    }

    &:nth-child(2) {
      background-color: #82ca9c;
     -webkit-animation-delay: .3s;
    }

    &:nth-child(3) {
      background-color: #f69679;
     -webkit-animation-delay: .6s;
    }

    &:nth-child(4) {
      background-color: #acd373;
     -webkit-animation-delay: .9s;
    }

    &:nth-child(5) {
      background-color: #959595;
     -webkit-animation-delay: 1.2s;
    }
  }
}

@-webkit-keyframes subtleIn {
  0% {
    opacity: 0;
    @include transform(translateY(300%));
  }

  30% {
    opacity: 1;
    @include transform(translateY(0));
  }
  100% {

  }
}

.huge-input {
  font-size: 3em;
  height: 2em;
}

.big-input {
  font-size: 2em;
  height: 2em;
}

.register {
  display: block;
  width: 25%;
  margin: 0 auto;
  a {
    display: block;
    margin: 10px;
  }
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#wrap-inner {
  overflow:auto;
  padding-bottom: 80px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
  clear:both;
  padding-top:20px;
}

.top-dog {
  float: right;
  padding-right: 10px;
}

.timer-right {
  text-align: right
}
