<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">WPM Challenge</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if(!window.CURRENT_RACER.guest) { %>
      <ul class="navbar-left nav navbar-nav">
        <li><a href="/#/staging"><i class="fa fa-users"></i> Invite Friends</a></li>
        <li><a href="/#/stats"><i class="fa fa-line-chart"></i> Stats</a></li>
        <li><a href="/#/settings"><i class="fa fa-cog"></i> Settings</a></li>
        <li><a href="/#/surprise"><i class="fa fa-random"></i> Surprise Me</a></li>
      </ul>
    <% } %>
    <form action="/session" class="navbar-form navbar-right" role="search" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <button type="submit" class="btn btn-info">
        <i class="fa fa-sign-out"></i>Not <%= window.CURRENT_RACER.nickname %>?
      </button>
    </form>
    <% if(CodeRacer.invites.length > 0) { %>
      <ul class="navbar-right nav navbar-nav">
        <li class="dropdown">
          <a href="#" id="invite-list" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Someone wants to race! <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% invites.each(function (invite) { %>
              <li><a href="<%= invite.get('url') %>"><%= invite.escape('nickname') %></a></li>
            <% }) %>
          </ul>
        </li>
      </ul>
    <% } %>
  </div>
</div>
