<!DOCTYPE html>
<html>
<head>
  <title>Words Per Minute Test</title>
  <meta name="description" content="Measure how fast you type with a words per minute test">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
